In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.0
1.26.3

C:\Users\JASON\AppData\Local\Temp\ipykernel_20664\1725337979.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), 
                  columns=cols)
df

   A  B  C  D  E
0  7  3  4  3  9
1  3  2  6  9  3
2  8  9  1  6  1
3  3  8  2  2  4
4  7  5  5  6  7
5  4  6  6  9  1
6  3  1  8  7  7
7  2  6  8  2  2
8  6  5  9  5  3
9  5  1  2  3  5

In [3]:
df[df['A'].between(2, 5)]

   A  B  C  D  E
1  3  2  6  9  3
3  3  8  2  2  4
5  4  6  6  9  1
6  3  1  8  7  7
7  2  6  8  2  2
9  5  1  2  3  5

In [5]:
df[df['A'].between(2, 5, inclusive='neither')]

   A  B  C  D  E
1  3  2  6  9  3
3  3  8  2  2  4
5  4  6  6  9  1
6  3  1  8  7  7